#side-profile {
  background-color:#7b1fa2;
}

#side-all {
  background-color:#0277bd;
}
#side-youlike {
  background-color:#c2185b;
}

#side-likeyou {
  background-color:#f9a825;
}

.side-box {
  color: white;
}
